select,
input[type="number"] {
  width: 70px;
  height: 35px;
  padding: 8px;
  margin: 4px 4px;
  border: 1px solid #ccc;
  background-color: #fff;
}

input[type="radio"] {
  all: revert;
  cursor: pointer;
}

.player-inputs {
  display: flex;
  align-items: flex-end;
}

.player-inputs label {
  display: flex;
  flex-direction: column;
  padding-right: 12px;
}

.player-inputs label > input,
select {
  margin-top: 4px;
  margin-left: 0;
}
