@import "reset.css";
@import "inputs.css";
@import "buttons.css";
@import "matrix.css";

.container {
  margin: auto;
  padding: 24px 12px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps-container {
  width: fit-content;
  padding-top: 32px;
}

#gameSteps {
  display: none;
  width: 100%;
  max-width: 100vw;
  overflow-x: auto;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 32px;
}

.settings {
  max-width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings fieldset {
  padding: 24px;
  margin-bottom: 24px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.settings fieldset legend {
  font-size: 18px;
  font-weight: bold;
}

.settings-group:not(:last-child) {
  margin-bottom: 32px;
}

.settings-group h5 {
  margin-bottom: 12px;
}

.settings-group label {
  margin-right: 24px;
  cursor: pointer;
}

#heapsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 8px;
}

#startButton {
  width: 200px;
  margin-top: 24px;
}

#playerButton {
  width: 120px;
}

.player {
  width: 100%;
  position: sticky;
  bottom: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  padding: 16px;
  margin-top: 24px;
  display: none;
  -webkit-box-shadow: 0px -2px 20px 0px rgba(187, 187, 187, 1);
  -moz-box-shadow: 0px -2px 20px 0px rgba(187, 187, 187, 1);
  box-shadow: 0px -2px 20px 0px rgba(187, 187, 187, 1);
}

.player div:first-child {
  display: flex;
  align-items: center;
}

.player span {
  margin-right: 24px;
}

.error {
  color: red;
  display: none;
  margin-top: 16px;
  text-align: center;
}

.winner {
  display: none;
  padding: 48px 0;
  align-items: center;
  flex-direction: column;
}

.winner p {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 48px;
}

@media (max-width: 720px) {
  .container {
    width: 100%;
  }

  .settings {
    max-width: 100%;
  }

  .player {
    flex-direction: column;
  }

  .player div:first-child {
    flex-direction: column;
  }

  .player span {
    margin-bottom: 16px;
    align-self: flex-start;
  }
}
