.matrix-container {
  padding: 24px;
  border-radius: 10px;
}

.matrix-container:nth-child(even) {
  background: #eee;
}

.matrix-container:nth-child(odd) {
  background: #fff;
}

.matrix-container table {
  border-collapse: separate;
  border-spacing: 10px;
}

.matrix-container table td {
  padding-right: 16px;
}

.matrix-container table tr > td:first-child {
  font-style: italic;
  padding-right: 0;
}

.matrix-container table tr > td:nth-child(2) {
  padding-right: 24px;
}

.matrix-container p {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: bold;
}
